[submodule "dotbot-asdf"]
	path = dotbot-asdf
	url = git@github.com:sobolevn/dotbot-asdf.git
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = git@github.com:d12frosted/dotbot-brew.git
[submodule "dotbot-pip"]
	path = dotbot-pip
	url = git@github.com:sobolevn/dotbot-pip.git
[submodule "dotbot-sync"]
	path = dotbot-sync
	url = git@github.com:j1r1k/dotbot-sync.git
